
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.hero-unit h1 {
	    font-size: 19pt;
	}

	.hero-unit {
	    width: 90%;
	    padding: 15px 10px;
    }

	.tile {
	    width: 32%;
	    height: 75px;}
	element.style {
	}
	#popup {top:30%;left:5%;
	    width: 80% !important;
	padding:10px;}
    .hero-unit {
        margin: 10px auto 0 auto;
    }
    body{margin:5px}
    .created{font-size:0.5em}
}
